/* 영화 리스트 아이템 스타일 */
.movie-list-item {
  position: relative;
  width: 200px; /* 기본 포스터 너비 */
  height: 350px; /* 포스터와 제목을 포함한 높이 */
  margin: 10px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-list-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* 포스터 이미지 스타일 */
.movie-list-item img {
  width: 100%; /* 부모 요소 너비에 맞게 조정 */
  height: auto; /* 비율 유지하면서 높이 자동 조정 */
  object-fit: cover; /* 이미지 비율을 유지하면서 자름 */
}

/* 영화 제목 스타일 */
.movie-list-item h3 {
  margin-top: 5px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

/* 영화 목록 그리드 배치 스타일 */
.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wishlist-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .wishlist-container {
    grid-template-columns: repeat(4, 1fr);
    /* 이미지 크기 조정 */
    .movie-list-item {
      width: calc(100% / 4 ); /* 포스터 너비를 그리드에 맞게 동적으로 조정 */
    }
  }
}

@media (max-width: 992px) {
  .wishlist-container {
    grid-template-columns: repeat(3, 1fr);
    .movie-list-item {
      width: calc(100% / 3 );
    }
  }
}

@media (max-width: 768px) {
  .wishlist-container {
    grid-template-columns: repeat(2, 1fr);
    .movie-list-item {
      width: calc(100% / 2 );
    }
  }
}